[user]
	name = Emils Bernhards
	email = emilsbernhards2001@gmail.com
[help]
	autocorrect = prompt
[branch]
	sort = -committerdate
[column]
	ui = auto
[tag]
	sort = version:refname
[init]
	defaultBranch = main
[diff]
	algorithm = histogram
	colorMoved = plain
	mnemonicPrefix = true
	renames = true
[push]
	autoSetupRemote = true
	followTags = true
[fetch]
	prune = true
	pruneTags = true
	all = true
[rerere]
	enabled = true
	autoupdate = true
[rebase]
	autoSquash = true
	autoStash = true
	updateRefs = true